{% load static %}


<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Pillar - Bootstrap Resume/CV Template for Developers</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <!-- FontAwesome JS-->
	<script defer src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>
       
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href=" {% static 'assets/css/pillar-1.css' %}">


</head> 

<body>	

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="row">
				    <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
				        <img class="picture" src=" {% static 'assets/images/profile.jpeg' %}" alt="">
				    </div><!--//col-->
				    <div class="col">
					    <div class="row p-4 justify-content-center justify-content-md-between">
						    <div class="primary-info col-auto">
							    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Jhocce Briceño</h1>
							    <div class="title mb-3">Backend Developer</div>
							    <ul class="list-unstyled">
								    <li class="mb-2"><a class="text-link" href="#"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>jhocce3022@hotmail.com</a></li>
								    <li><a class="text-link" href="#"><i class="fas fa-mobile-alt fa-fw me-2" data-fa-transform="grow-6"></i>+584147479639</a></li>
							    </ul>
						    </div><!--//primary-info-->
						    <div class="secondary-info col-auto mt-2">
							    <ul class="resume-social list-unstyled">
					                <li class="mb-3"><a class="text-link" target="_blank" href="https://www.linkedin.com/in/jhocce/"><span class="fa-container text-center me-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/jhocce</a></li>
					                <li class="mb-3"><a class="text-link" target="_blank" href="https://www.github.com/jhocce"><span class="fa-container text-center me-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/jhocce</a></li>

					                <li><a class="text-link" href="#"><span class="fa-container text-center me-2"><i class="fas fa-globe"></i></span>jhocce.com</a></li>
									<li><BR></BR></li>
				

							    </ul>
						    </div><!--//secondary-info-->
					    </div><!--//row-->
					    
				    </div><!--//col-->
			    </div><!--//row-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">Experiencia práctica en el manejo de los lenguajes de script python (manejo y manipulación de imágenes, socket, aplicaciones visuales, Base de Datos) y php (manejo de información, Base de Datos), maquetación en html5, css3, js (jquery). Creación de APPs filosofía REST en Python con Django. Auditorias de redes inalámbricas. Instalación y mantenimiento de redes cableadas. Conocimientos prácticos de GitHub y Git. Tensorflow keras, redes neuronales (LSTM, CNN, CGN), pandas, numpy</p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experiencia Laboral</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
									<article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Senior Business Intelligence Developer</h3>
										        <div class="resume-company-name ms-auto">Nolatech</div>
										    </div><!--//row-->
										    <div class="resume-position-time"> 2023 - 2024</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
											<p>Recopilación y análisis de datos, estadística, microservicios</p>
											<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
										    <p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
										    <ul>
											    <li>Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.</li>
											    <li>At vero eos et accusamus et iusto odio dignissimos.</li>
											    <li>Blanditiis praesentium voluptatum deleniti atque corrupti.</li>
											    <li>Maecenas tempus tellus eget.</li>
										    </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Angular</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Python</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">jQuery</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">PostgresSQL</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
									<article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Desarrollador Python-Django</h3>
										        <div class="resume-company-name ms-auto">En3D</div>
										    </div><!--//row-->
										    <div class="resume-position-time"> 2021 - 2022 </div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
											<p>Como desarrollador Python mi función fue asistir y dar soporte a diferentes proyectos dentro de la empresa entre los trabajos mas resaltantes se encuentra el uso de las herramientas de Meta, Merchant Center, Shopping-content para el manejo de cuentas publicitarias y de productos atreves del api dispuesto por las plataformas de Google y meta para gestionar campañas publicitarias inteligentes.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros:</h4>
										    <!-- <p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p> -->
										    <!-- <ul>
											    <li>Aprender a gestionar campañas</li>
											    <li>At vero eos et accusamus et iusto odio dignissimos.</li>
											    <li>Blanditiis praesentium voluptatum deleniti atque corrupti.</li>
											    <li>Maecenas tempus tellus eget.</li>
										    </ul> -->
										    <!-- <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usadas:</h4> -->
										    <ul class="list-inline">
											    <!-- <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Angular</span></li> -->
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Python</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">jQuery</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Django</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/CSS3/JQUERY</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">API/shoppingcontent</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">API/meta</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">jQuery</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">PostgresSQL</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Director de la sección de desarrollo e investigación</h3>
										        <div class="resume-company-name ms-auto">Corp26</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2020 - 2021</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
											<p>En esta oportunidad fui co-responsable de diseñar la infraestructura necesaria para un servicio que hacia uso de bot´s para ejecutar ordenes automatizada en Interactive Brokers LLC de diferentes activos financieros según las predicciones estimadas, estas predicciones se lograron mediante modelos de redes LSTM también se hizo uso de extracción de datos de RRSS y modelos preestablecidos para el análisis de sentimiento y con esto establecer tendencias de los activos, con los datos de las tendencias en RRSS y los históricos del activo en el mercado se logro que el bot tomara decisiones mas acertadas en tiempo real maximizando su eficiencia.</p>
											<h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros:</h4>
										    <p></p>
										    <ul>
											    <li>Se obtuvo gran cantidad de data sobre los datos de activos de IB</li>
											    <li>Se generaron velas de activos en rangos de 1, 5 30 y 60 segundos</li>
											    <li>Se logro ponderar los datos transmitidos en vivo y evaluar los volumenes de las traciones del activo en cuestión</li>
											    <li>Demostrar la relación que tenian los datos capturados de los activos en RRSS con sus precios en el mercado </li>
										    </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias Usadas :</h4>
										    <ul class="list-inline">
											    <!-- <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Angular</span></li> -->
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Python</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">API/IB</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">scraping/selemiun</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Api/twitter</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Herramientas NLP</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Sentiments Analizers</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Jefe del departamento de informatica</h3>
										        <div class="resume-company-name ms-auto">Alcaldia del Municipio Sucre</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2018 - 2019</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>En esta ocación logre la revalidación de conocimientos tecnicos adquiridos de manera independiente.</p>
										    <!-- <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements</h4>
										    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4> -->
										    <!-- <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">React</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Redux</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Django</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">MySQL</span></li>
										    </ul> -->
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Programador Backend<small class="text-muted">(Jr)</small></h3>
										        <div class="resume-company-name ms-auto">Marco inc</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2017 - 2018</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Tuve la oportunidad para desarrollarme principalmente como programador C# con un nuevo ambiente y equipo de trabajo me permitió adquirir 
												conocimientos nuevos en la forma de hacer los procesos mas eficientes en cuanto a código nos referimos y en un aspecto mas 
												personal el saber llevar un trato ligero pero muy profesional con mis colegas de oficina.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros</h4>
											<p>Fue la primera vez que comprobe que se pueden aplicar conocimientos del MVC que tenia en laravel pero en ASP.NET core.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usadas:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">C#</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">C</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">laravel</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
								    <article class="resume-timeline-item position-relative">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Desarrollador freelance <small class="text-muted"></small></h3>
										        <div class="resume-company-name ms-auto">Independiente</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2015 - 2016</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <!-- <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum.</p> -->
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usadas:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">php</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">laravel</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">jQuery</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/css</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">sql</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
								    
							    </div><!--//resume-timeline-->
							    
							    
							    
							    
							    
							    
						    </div>
					    </section><!--//experience-section-->
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
							        <ul class="list-unstyled mb-4">
								       
								        <li class="mb-2">
								            <div class="resume-skill-name">React</div>
											<div >

											</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">JavaScript</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        
								        <li class="mb-2">
								            <div class="resume-skill-name">Node.js</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">HTML/CSS</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Chart.js</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">jquery.js</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">vue.js</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->
						        
						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
							        <ul class="list-unstyled">
										<li class="mb-2">
								            <div class="resume-skill-name">Python</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Django</div>
									        <div class="progress resume-progress">
												
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Node.js/Express</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Numpy</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Pandas</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
										<li class="mb-2">
								            <div class="resume-skill-name">Tensorflow</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->
						        
						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Others</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Scrum</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">ApiRest</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Monolitico</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Google Ads</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Facebook Ads</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Figma</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">PostgresSQL</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">MongoSQL</span></li>

						            </ul>
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Educación</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">Ingenieria de Sistemas</div>
								        <div class="resume-degree-org">Univerisidad Nacional Experimental de las Fuerzas Armadas</div>
								        <div class="resume-degree-time">2012 - 2017</div>
								    </li>
								   
							    </ul>
						    </div>
					    </section><!--//education-section-->
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Idioma</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Español</span> <small class="text-muted font-weight-normal">(Nativo)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Ingles</span> <small class="text-muted font-weight-normal">(Basico)</small></li>
							    </ul>
						    </div>
					    </section><!--//language-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Intereses</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Comer</li>
								    <li class="mb-1">El Gaming</li>
								    <!-- <li class="mb-1">Cooking</li> -->
							    </ul>
						    </div>
					    </section><!--//interests-section-->
					    
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
		    
		    
	    </div>
    </article> 

    
    <footer class="footer text-center pt-2 pb-5">
	    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </footer>

    

</body>
</html> 

